In [3]:
import pandas as pd
df = pd.read_csv('kickstarter201801.csv')

In [4]:
df['passfail'] = df['state']
d = {'failed': 0, 'successful': 1, 'canceled': ''}
df['passfail'] = df['passfail'].replace(d)

In [ ]:
# df2 = df[['launched','state']]
# df2

In [ ]:
# df2.columns

In [19]:
df2 = df['launched'].str.split(" ", n = 1, expand = True)[0]

In [20]:
df2

0         2015-08-11
1         2017-09-02
2         2013-01-12
3         2012-03-17
4         2015-07-04
5         2016-02-26
6         2014-12-01
7         2016-02-01
8         2014-04-24
9         2014-07-11
10        2013-09-09
11        2013-03-09
12        2014-09-02
13        2016-02-09
14        2017-04-05
15        2015-01-29
16        2014-10-09
17        2015-04-10
18        2012-08-02
19        2012-05-03
20        2013-11-25
21        2017-08-08
22        2014-05-16
23        2015-01-26
24        2014-10-23
25        2010-12-07
26        2015-12-06
27        2014-11-14
28        2015-12-29
29        2017-04-03
             ...
378631    2014-09-03
378632    2014-05-06
378633    2014-11-13
378634    2010-11-08
378635    2015-08-25
378636    2014-11-17
378637    2017-08-29
378638    2014-07-15
378639    2015-11-03
378640    2014-08-08
378641    2015-07-06
378642    2017-10-04
378643    2014-05-05
378644    2015-11-23
378645    2013-09-10
378646    2013-10-18
378647    2012-08-15
378648    2016-01-24
378649    2017-02-08
378650    2016-07-29
378651    2014-02-20
378652    2015-03-29
378653    2012-02-15
378654    2017-03-20
378655    2014-08-06
378656    2014-09-17
378657    2011-06-22
378658    2010-07-01
378659    2016-01-13
378660    2011-07-19
Name: 0, Length: 378661, dtype: object

In [22]:
df['datesclean'] = df2

In [23]:
df10 = df[['datesclean', 'passfail']]
df10

        datesclean passfail
0       2015-08-11        0
1       2017-09-02        0
2       2013-01-12        0
3       2012-03-17        0
4       2015-07-04
5       2016-02-26        1
6       2014-12-01        1
7       2016-02-01        0
8       2014-04-24
9       2014-07-11
10      2013-09-09        0
11      2013-03-09        1
12      2014-09-02        0
13      2016-02-09        0
14      2017-04-05        1
15      2015-01-29        0
16      2014-10-09        0
17      2015-04-10        0
18      2012-08-02        1
19      2012-05-03        0
20      2013-11-25        1
21      2017-08-08        0
22      2014-05-16        0
23      2015-01-26        0
24      2014-10-23        1
25      2010-12-07        1
26      2015-12-06        0
27      2014-11-14        1
28      2015-12-29        1
29      2017-04-03        1
...            ...      ...
378631  2014-09-03        1
378632  2014-05-06        0
378633  2014-11-13        0
378634  2010-11-08        0
378635  2015-08-25        0
378636  2014-11-17        1
378637  2017-08-29        1
378638  2014-07-15        0
378639  2015-11-03        1
378640  2014-08-08
378641  2015-07-06        0
378642  2017-10-04        1
378643  2014-05-05
378644  2015-11-23        1
378645  2013-09-10        0
378646  2013-10-18        1
378647  2012-08-15        0
378648  2016-01-24
378649  2017-02-08        0
378650  2016-07-29        0
378651  2014-02-20        1
378652  2015-03-29        1
378653  2012-02-15        0
378654  2017-03-20        0
378655  2014-08-06
378656  2014-09-17
378657  2011-06-22        0
378658  2010-07-01        0
378659  2016-01-13        0
378660  2011-07-19        0

[378661 rows x 2 columns]

In [ ]:
# df['passfail'] = df['state']
# d = {'failed': 0, 'successful': 1, 'canceled': ''}
# df['passfail'] = df['passfail'].replace(d)

In [ ]:
df

In [ ]:
df4['launched'] = df3['launched']
df4 = df['passfail']

In [ ]:
df3['passfail'] = df4
df3

In [ ]:
# for x in range(len(df3['passfail'])):
#     if df3['passfail'].at[x] == '':
#         df3.drop(x)
df3

In [ ]:
df3.drop(df3.ix[df3['passfail'] == ""])